body{
  color: white;
    background-image: linear-gradient(to right, #201e67, #03bb85);
}
table, th, td {
 background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 5px;
    color: white;

   
    
    
   
    
    
}